*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* div{
    background-color: aqua;
    padding: 50px;
    margin: 20px;
    border: 2px solid;
} */

/* nav{
    height: 100px;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

div{
    width: 100px;
    height: 50px;
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
} */


h1{
    background-color: cadetblue;
    padding: 10px 0 10px 30px;  /* this will move the content only */
    margin : 0 0 0 50px;    /* this will move with the content  */
}

