*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;   
}

div{
    width: 400px;
    height: 400px;
    background-color: chocolate;
}

div:hover{
    transform: skew(-5deg);
    transition-duration: 0.5s;
}